<!DOCTYPE html>
<html lang="en">
   <head>
      <title>DNS Validator</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="robots" content="noindex,nofollow">
      <link rel='stylesheet' href='https://redirector.eservice.emarsys.net/ui/latest/css/app.css'>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      {% load static %}
      <link rel="stylesheet" href="{% static '/css/style.css' %}">
      <link rel="shortcut icon" href="{% static '/media/chewie.png' %}">
      <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         <script src='https://redirector.eservice.emarsys.net/ui/latest/js/app.js'></script>-->
   </head>
   <body>
      <div id="main">
         <div class="e-layout">
            <div class="wrap" style="margin:20px 20px;">
               <div class="e-box">
                  <div class="e-row">
                     <div class="e-col-12">
                        <div class="e-field"> {% block content %} {% endblock content %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script>
         function copytable(el) {
         var urlField = document.getElementById(el)   
         var range = document.createRange()
         range.selectNode(urlField)
         window.getSelection().removeAllRanges();
         window.getSelection().addRange(range) 
         document.execCommand('copy')
         }
      </script>
   </body>
</html>