                                    {% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
                                                                        <div class="center">
                                        <h3 class="center">Emarsys SAP DNS setup verification</h3>
                                        <br>
                                            <label for="verification">
                                            Enter sender and link subdomains
                                            </label>
                                            <div class="box center" style="max-width:40%" id="verification">
                                                <form method="post" action="xxx">
                                                    {% csrf_token %} 
                                                    <input class="e-input" id="senderDomain" name="senderDomain" type="text" placeholder="sender subdomain">
                                                    <input class="e-input" id="linkDomain" name="linkDomain" type="text" placeholder="link subdomain">
                                                    <div class="e-field">
                                                        <input class="e-btn btn-lila" type="submit" value="Check">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="center">
                                        <h3 class="center">DNS record check</h3>
                                        <br>
                                        <div class="tab center">
                                            <button class="tablinks" onclick="chooseTab(event, 'domainList')">Domain List</button>
                                            <button class="tablinks" onclick="chooseTab(event, 'csvFile')">File Upload</button>
                                        </div>
                                        <div id="domainList" class="tabcontent">
                                            <label for="domains">
                                            Enter a domain or a list of domains
                                            </label>
                                            <div class="box center" style="max-width:40%">
                                                <form method="post" action="compute">
                                                    {% csrf_token %} 
                                                    <input class="e-input" id="domains" name="domains" type="text" placeholder="emarsys.com">
                                                    <label for="records">Record type</label>
                                                    <select class="e-select" id="records" name="records">
                                                        <option value="MX">MX</option>
                                                        <option value="NS">NS</option>
                                                        <option value="TXT">TXT</option>
                                                        <option value="CNAME">CNAME</option>
                                                        <option value="PTR">PTR</option>
                                                    </select>
                                                    <label for="delimitor">Delimitor</label>
                                                    <select class="e-select" id="delimitor" name="delimitor">
                                                        <option value=",">,</option>
                                                        <option value="|">|</option>
                                                        <option value=";">;</option>
                                                    </select>
                                                    <div class="e-field">
                                                        <input class="e-btn btn-lila" type="submit" value="Check">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div id="csvFile" class="tabcontent">
                                            <label for="csvFileInput">
                                            Upload a CSV or TXT file with a list of domains
                                            </label>
                                            <div class="box center" style="max-width:40%">
                                                <form method="post" action="compute_csv"  enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input class="e-btn-fileinput input" type="file" id="csvFileInput" name="csv_file" required  multiple accept=".csv, .txt">
                                                    <div class="e-field">
                                                        <label for="recordsFle">Record type</label>
                                                        <select class="e-select" id="recordsFle" name="records">
                                                            <option value="MX">MX</option>
                                                            <option value="NS">NS</option>
                                                            <option value="TXT">TXT</option>
                                                            <option value="CNAME">CNAME</option>
                                                            <option value="PTR">PTR</option>
                                                        </select>
                                                    </div>
                                                    <div class="e-field">
                                                        <input class="e-btn e-btn-primary" type="submit" value="Check" style="margin-top: 10px">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br><br>
                                    <div class="center">
                                        <h3 class="center">Multiple DNS records</h3>
                                        <br>
                                        <div class="tab center">
                                            <button class="tablinks" onclick="chooseTab(event, 'domainListMulti')">Domain List</button>
                                            <button class="tablinks" onclick="chooseTab(event, 'csvFileMulti')">File Upload</button>
                                        </div>
                                        <div id="domainListMulti" class="tabcontent">
                                            <label for="multiChexboxes">
                                            Enter a domain or a list of domains
                                            </label>
                                            <div class="e-box center" style="max-width:40%">
                                                <form method="post" action="compute_multi">
                                                    {% csrf_token %} 
                                                    <input class="e-input" id="multiChexboxes"  name="domains" type="text" placeholder="emarsys.com">
                                                    <input class="e-checkbox" type="checkbox" value="MX" id="MX" name="records">
                                                    <label for="MX">
                                                    MX
                                                    </label>
                                                    <input class="e-checkbox" type="checkbox" value="NS" id="NS" name="records">
                                                    <label for="NS">
                                                    NS
                                                    </label>
                                                    <input class="e-checkbox" type="checkbox" value="SPF" id="SPF" name="records">
                                                    <label for="SPF">
                                                    SPF
                                                    </label>
                                                    <input class="e-checkbox" type="checkbox" id="DMARC">
                                                    <label for="DMARC">
                                                    DMARC
                                                    </label>
                                                    <input class="e-checkbox" type="checkbox" id="DKIM" onclick="unhide('DKIM')">
                                                    <label for="DKIM">
                                                    DKIM
                                                    </label>
                                                    <div class="e-hidden" id="hidden">
                                                        <div class="e-field">
                                                            <label class="e-field__label" for="selector">
                                                            Selector
                                                            </label>
                                                            <select class="e-select"  name="dkimSelect">
                                                                <option value="key2">key2</option>
                                                                <option value="key4">key4</option>
                                                                <option value="key5">key5</option>
                                                                <option value="key6">key6</option>
                                                                <option value="other" onclick="unhideCheck(this)">custom</option>
                                                            </select>
                                                            <input class="e-input" style="display: none;" name="dkimSelector" id="customOption" placeholder="selector">
                                                        <input class="e-input" id="customOptionKey" name="dkimKey" style="display:none;" placeholder="value">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <label for="delimitor">Delimitor</label>
                                                    <select class="e-select" id="delimitor" name="delimitor">
                                                        <option value=",">,</option>
                                                        <option value="|">|</option>
                                                        <option value=";">;</option>
                                                    </select>
                                                    <div class="e-field">
                                                        <input class="e-btn btn-lila" type="submit" value="Check">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div id="csvFileMulti" class="tabcontent">
                                            <label for="csvFileInputMulti">
                                             Upload a CSV or TXT file with a list of domains
                                            </label>
                                            <div class="e-box center" style="max-width:40%">
                                                <form method="post" action="compute_csv">
                                                    {% csrf_token %}
                                                    <input class="e-btn-fileinput input" type="file" id="csvFileInputMulti" name="csvFile">
                                                    <div class="e-field">
                                                    <input class="e-checkbox" type="checkbox" value="MX" id="MX1" name="records">
                                                    <label for="MX1">
                                                    MX
                                                    </label>
                                                    <input class="e-checkbox" type="checkbox" value="NS" id="NS1" name="records">
                                                    <label for="NS1">
                                                    NS
                                                    </label>
                                                    <input class="e-checkbox" type="checkbox" value="SPF" id="SPF1" name="records">
                                                    <label for="SPF1">
                                                    SPF
                                                    </label>
                                                    <input class="e-checkbox" type="checkbox" id="DMARC1">
                                                    <label for="DMARC1">
                                                    DMARC
                                                    </label>
                                                    <input class="e-checkbox" type="checkbox" id="DKIM1" onclick="unhide1('DKIM1')">
                                                    <label for="DKIM1">
                                                    DKIM
                                                    </label>
                                                    <div class="e-hidden" id="hidden1">
                                                        <div class="e-field">
                                                            <label class="e-field__label" for="selector">
                                                            Selector
                                                            </label>
                                                            <select class="e-select"  name="dkimSelect">
                                                                <option value="key2">key2</option>
                                                                <option value="key4">key4</option>
                                                                <option value="key5">key5</option>
                                                                <option value="key6">key6</option>
                                                                <option value="other" onclick="unhideCheck1(this)">custom</option>
                                                            </select>
                                                            <input class="e-input" style="display: none;" name="dkimSelector" id="customOption1" placeholder="selector">
                                                        <input class="e-input" id="customOptionKey1" name="dkimKey" style="display:none;" placeholder="value">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="e-field">
                                                        <input class="e-btn e-btn-primary" type="submit" value="Check" style="margin-top: 10px">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center" style="margin-top: 50px;">
                                        <form  action="{% url 'logout' %} " method="get">
                                            <input class="e-btn btn-yellow center" type="submit" value="Logout">
                                        </form>
                                    </div>
                                    {% else %} {% load static %}
                                    <div>
                                        <img width="50%" class="center" src="{% static '/media/meme.jpg' %}" alt="One of you will betray me: SPAM filter, DMARC, SPF, DKIM, PTR">
                                        <form method="post" action="{% url 'login' %}">          {% csrf_token %}
                                            <input class="e-btn e-btn-primary center" id="login" type="submit" value="login">
                                            <input class="e-input" type="hidden" name="next" value="{{ next }}">
                                        </form>
                                    </div>
                                    {% endif %}  {% endblock %}