body,
html {
    height: 100%;
    background: #f1f6fb;
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #233d56;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

pre {
    margin: 0;
    overflow: auto;
}

td,
th {
    padding: 0;
}

th {
    font-weight: 700;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0;
}

a:active {
    color: var(--color-blue-300, #bdceff);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--color-blue-700, #39539f);
    outline: none;
    text-decoration: none;
}

input {
    margin-top: 10px;
}

img {
    border-radius: 8px;
    border: 0;
    max-width: 100%;
}

label {
    font-weight: 600;
    margin-top: 10px;
}

button,
input,
select,
textarea {
    border-radius: 8px;
    color: inherit;
    font: inherit;
    outline: none;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* 1 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hidden {
    visibility: hidden;
    display: none;
}

#authfooter {
    text-align: right;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.7em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-lila {
    background: var(--color-lila, #6f8de7);
    border-color: transparent;
    color: var(--color-gray-000, #ffffff);
    font-weight: 500;
}

.btn-lila:hover,
.btn-lila:focus {
    background: var(--color-lila-700, #39539f);
    color: var(--color-gray-000, #ffffff);
}

.btn-green {
    background: var(--color-green, #32d17e);
    border-color: transparent;
    color: var(--color-gray-000, #ffffff);
    font-weight: 500;
}

.btn-green:focus,
.btn-green:hover {
    color: #fff;
    background-color: #28b46b;
    border-color: #26aa65;
}

.btn-yellow {
    color: #212529;
    background-color: #d9e506;
    border-color: #d9e506;
    font-weight: 500;
}

.btn-yellow:focus,
.btn-yellow:hover {
    color: #ffffff;
    background-color: #b6c005;
    border-color: #aab305;
}

.tab {
    overflow: hidden;
    background-color: white;
    width: 40%;
}

.tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 8px;
    width: 50%;
    border: 1px solid #c4d0dd;
}

.tab button:hover {
    background-color: #32d71e;
}

.tab button.active {
    background-color: #28b46b;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.box {
    background: #ffffff;
    margin-bottom: 32px;
    padding: 16px;
    padding-bottom: 32px;
    border: 1px solid #c4d0dd;
    border-radius: 8px;
}

.wrap {
    margin: 20px 20px;
}

.layout {
    display: block;
    margin: auto;
    max-width: 1600px;
    min-width: 1024px;
    padding: 16px 24px 24px 96px;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
    position: relative;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

.field {
    margin: 0 0 16px 0;
    position: relative;
    margin-bottom: 0;
}

.input {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    border: 1px solid #c4d0dd;
    color: #102a43;
    display: inline-block;
    height: 40px;
    padding: 4px 12px;
    position: relative;
    text-overflow: ellipsis;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;
}

.input::placeholder {
    color: #c4d0dd;
    font-style: italic;
}

.input:focus {
    border-color: #6f8de7;
}

.input:disabled {
    background: #e2e9f1
        url("data:image/svg+xml,%3csvg fill='%237993ac' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill-rule='evenodd' d='M12 2a10 10 0 110 20 10 10 0 010-20zm6.32 5.1L7.1 18.32A8 8 0 0018.32 7.1zM12 4a8 8 0 00-6.32 12.9L16.91 5.69A7.97 7.97 0 0012 4z'/%3e%3c/svg%3e")
        no-repeat center right 7.5px;
    background-size: 16px;
    color: #a2b4c6;
    cursor: not-allowed;
    padding-right: 24px;
}

.input:disabled:focus {
    border-color: #c4d0dd;
}

.input:read-only:focus {
    border-color: #c4d0dd;
}

.select {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg fill='%23102a43' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill-rule='evenodd' d='M12.77 15.68l5.97-6.11a.88.88 0 00-.09-1.33 1.1 1.1 0 00-.68-.24H6.03C5.46 8 5 8.42 5 8.94c0 .23.1.46.26.63l5.97 6.11a1.1 1.1 0 001.46.08l.08-.08z'/%3e%3c/svg%3e");
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    border: 1px solid #c4d0dd;
    border-radius: 0;
    color: #102a43;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.667;
    padding: 0 24px 0 12px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
    border-radius: 8px;
}

.select:not(.select__select2) {
    padding-right: 32px;
}

.select::-ms-expand {
    display: none;
}

.select:focus {
    border-color: #6f8de7;
    box-shadow: none;
    outline: 0;
}

.select:disabled {
    background-color: #e2e9f1;
    color: #a2b4c6;
    cursor: not-allowed;
}

.hr {
    border: 0;
    border-top: medium #CCC;
    height: 1px;
    overflow: visible;
    padding: 0;
    color: #CCC;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.hr::after {
    content: "ᵔᴥᵔ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.4em;
    padding: 0 0.3em;
    background: white;
}

tbody {
    width: 90%;
    max-width: 500px;
}