{% extends "base.html" %}
{% block content %}
<div class="center">
    <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }} 
        <div class="center">
            <input class="e-btn e-btn-primary" type="submit" value="login" style="align-text: center">
        </div>
        <input class="e-input" type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}